[2019-09-20 17:23] jwebb49 opened #7 "Missing name in service port"
If the name field is missing in the service port definition then the service entry is generated without a port name and is invalid.

Example
[code]

[2019-09-20 22:02] jwebb49 opened #9 "Delete doesn't clean up ServiceEntries"
deleting deployments doesn't clean up service entries that are created in the admiral-sync namespace.

[2019-09-20 23:21] aattuluri opened #10 "Admiral crashes to fetch ingressgateway's external IP in minikube"
Admiral uses external IP of istio-ingressgateway to create service entries for cross cluster communication.

Currently, admiral crashes if istio-ingressgateway doesn't have a external IP assigned (in non cloud installations like minikube).

[2019-09-20 23:44] #10 closed

[2019-09-25 22:04] #7 closed

[2019-10-06 21:31] aattuluri opened #27 "Test admiral with istio 1.3 release"
Test admiral with istio 1.3 release and report/create issues found.

[2019-10-06 21:34] aattuluri opened #28 "Add a multi-cluster example to documentation"

[2019-10-07 22:34] aattuluri opened #30 "Automate admiral releases for new tags"
Currently, creating tags isn't triggering a release build in circle ci.

We need `Makefile` to do the following when a `new_tag` is created:

i) Publish an image whenever a new tag (say `new_tag`) is created
ii) Package an artifact with the output of `make gen-yaml` into `admiral-install-{new_tag}.tar.gz`
iii) Create a release with the name `new_tag` and attach artifact from ii) to this release

[2019-10-08 22:27] jwebb49 opened #31 "Implement Global routing CRD"
Implement the global routing CRD that's is referenced in the documentation.

[2019-10-15 23:52] aattuluri opened #32 "Switch from vendor to go modules"
Currently, admiral project uses `vendor` for its dependencies. Switch to go modules for better dependency management.

[2019-10-16 00:10] vdepatla commented on #32
I can take on this one ..

[2019-10-16 00:11] aattuluri opened #33 "[FEATURE] Add ability to customize name suffix and identity label"
**Is your feature request related to a problem? Please describe.**
Currently, admiral generates names that end in `.global` (Ex: `stage.greeting.global`) which works for default istio installation but not if we want to customize it to something like `.mymesh` (Ex: `stage.greeting.mymesh`)

Also, greeting comes from `identity` label on service and deployment. Short term we can allow this to be para

[2019-10-16 00:15] aattuluri commented on #32
@vdepatla Sounds good. I will look forward for a PR.

[2019-10-16 16:45] aattuluri opened #34 "[FEATURE] Support for a generic identifier label for creating service names"
**Is your feature request related to a problem? Please describe.**
Admiral uses `identity` label on k8s services and deployments as a hardcoded value (instead of using the `identityLabel` field in dependency record) when creating service names. If some organization is using a different label, then they would have to add a new label to all the services and deployments.

**Describe the solution you'

[2019-10-16 23:47] aattuluri commented on #27
Fixed with https://github.com/istio-ecosystem/admiral/pull/35

[2019-10-16 23:47] #27 closed

[2019-10-19 20:30] sterchelen commented on #30
@aattuluri I would like to work on it.

[2019-10-20 09:17] nickborysov commented on #32
@aattuluri https://github.com/istio-ecosystem/admiral/pull/36

[2019-10-20 16:15] aattuluri commented on #30
@sterchelen Please go for it

[2019-10-21 03:46] aattuluri commented on #32
@vdepatla https://github.com/istio-ecosystem/admiral/pull/36 looks good to me. I will go ahead and merge this, let me know if you think otherwise.

[2019-10-21 17:28] vdepatla commented on #32
sure Thanks

[2019-10-22 23:55] aattuluri commented on #30
@sterchelen
Do you want to take a look?
https://circleci.com/gh/istio-ecosystem/admiral/55?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-10-22 23:59] aattuluri commented on #32
Solved with https://github.com/istio-ecosystem/admiral/pull/36

[2019-10-22 23:59] #32 closed

[2019-10-23 06:04] sterchelen commented on #30
Yes I will

[2019-10-23 07:24] sterchelen commented on #30
It's a known issue from kustomize repo:
https://github.com/kubernetes-sigs/kustomize/issues/1680

[2019-10-23 07:56] sterchelen commented on #30
Fix in  #38

[2019-10-23 14:26] aattuluri commented on #30
@sterchelen https://circleci.com/gh/istio-ecosystem/admiral/58

[2019-10-23 15:18] sterchelen commented on #30
How did you trigger this?
You must push via:
git push origin tag your-tag

On Wed, 23 Oct 2019, 16:26 aattuluri, <notifications@github.com> wrote:

[2019-10-23 18:56] aattuluri commented on #30
I created a release from github releases page, will try pushing the tag today.

[2019-10-25 12:05] sterchelen commented on #30
@aattuluri Did you find time to test by pushing the tag ?

[2019-10-25 14:31] aattuluri commented on #30
Yes, I just did, same problem:
https://circleci.com/gh/istio-ecosystem/admiral/60

[code]

[2019-10-25 14:39] sterchelen commented on #30
Ok, I will test it tonight

[2019-10-25 14:40] aattuluri commented on #30
Sounds good

[2019-10-25 22:07] sterchelen commented on #30
I tested again on my circleci without issue !
Checkout the link https://circleci.com/gh/sterchelen/admiral/73
If you can connect you to the remote job while it is processing and check the ENV variables use by the `ghr` cli

[2019-10-29 00:15] aattuluri commented on #30
@sterchelen Let me test it, will get back to you.

[2019-10-29 20:14] aattuluri commented on #30
I had to add the `GITHUB_TOKEN` in circleci. It works!

[2019-10-29 20:14] #30 closed

[2019-10-29 20:20] aattuluri opened #39 "[BUG] Wrong image tag in releases artifact published"
**Describe the bug**
Currently, the image for admiral is hardcoded to

**Steps To Reproduce**
Generate a release (by creating a tag) and then see that the installed artifact downloaded has `image: docker.io/admiralproj/admiral:v0.1-alpha` in the file `yaml/demosinglecluster.yaml`.

**Expected behavior**
When a release is published, the image should point to the new tag being released.
**Ex:** If a

[2019-10-29 23:45] aattuluri opened #40 "[BUG] Image is not pushed to docker hub for tags/releases"
**Describe the bug**
The docker image for admiral is not pushed for release/tag builds

**Steps To Reproduce**
Create a tag/release and see that the docker hub doesn't have the image with this new tag

**Expected behavior**
Should see the new tag (release) in docker hub.

[2019-10-30 06:19] anusha5695 commented on #40
Hi @aattuluri : Can i pick this?

[2019-10-30 11:48] aattuluri commented on #40
@anusha5695 yes

[2019-12-18 19:21] aattuluri commented on #40
@anusha5695 Still working on this?

[2019-12-30 23:02] #33 closed

[2019-12-31 20:07] aattuluri opened #49 "Document admiral features support for different Istio versions"
Currently there isn't any documentation on Admiral's features supported for a given Istio version. While we will always stay on latest Istio API, the cluster on which admiral operates might be running on an older Istio version and the feature might not work as expected.

[2020-01-08 20:59] kplimack commented on #28
👍 the appeal of the product is for multicluster, the single cluster example does not even work out of the box for me

[2020-01-08 21:01] aattuluri commented on #28
@kplimack can you share the details please?

[2020-01-08 21:04] kplimack commented on #28
So far it seems like the create-secret script is doing something wrong, leading to the admiral pod
[code]

[2020-01-08 21:21] kplimack opened #53 "[BUG] typo "custerID""
Typo
https://github.com/istio-ecosystem/admiral/blob/e46dcb0df45c38eae210a5aca429c3ee02b42ba4/admiral/pkg/clusters/registry.go#L277-L305

"custerID" should be "clusterID"

[code]

[2020-01-14 06:18] aattuluri opened #56 "[BUG] SEs created for a service in it's cluster skips has no remote endpoints"
**Describe the bug**
When a SE is created for a deployment/service in it's cluster with another instance running remotely, the SE has only one endpoint

**Steps To Reproduce**
Create a deployment 1 in two clusters (cluster 1 and cluster 2)
Create a dependent deployment 2 in cluster 1
Create a dependency for deployment 2 on deployment 1
See that SE for `deployment 1` has only one endpoint pointing

[2020-01-17 20:41] aattuluri opened #57 "[FEATURE] Add support for argo rollouts as dependent workloads"
**Is your feature request related to a problem? Please describe.**
Currently, admiral finds k8s deployments based on the dependency CR to create global CNAMEs in the dependent clusters. Argo rollouts is another way to deploy workloads and admiral doesn't support watching them as a dependent workload.

**Describe the solution you'd like**
An argo rollout CRD should be treated similar to k8s deploym

[2020-01-21 17:58] aattuluri opened #58 "[FEATURE] Add APIs for admiral"
**Is your feature request related to a problem? Please describe.**
Currently, admiral doesn't expose any APIs for simple use cases like:
i) Clusters currently being monitored
ii) CRs created and last updated

**Describe the solution you'd like**
GET (READ) api for clusters being watched
GET (READ) for admiral generated endpoints (CNAMEs) created

[2020-01-22 21:34] #56 closed

[2020-01-22 21:34] #53 closed

[2020-01-24 02:00] #28 closed

[2020-01-24 06:37] aattuluri opened #60 "Publish admiral README content as github pages"
README has become a monolith, organize it under `docs` folder and publish as github pages.

[2020-01-24 20:16] aattuluri commented on #40
Fixed with PR commit https://github.com/istio-ecosystem/admiral/pull/61

[2020-01-24 20:16] #40 closed

[2020-01-26 17:38] aattuluri opened #62 "[BUG] Always route to local instance of a service from istio-ingressgateway"
**Describe the bug**
When a service name is accessed in a cluster, it's possible for it to bounce between clusters.

**Steps To Reproduce**
Deploy Service 1 to Cluster 1 and Cluster 2
Deploy Service 2 to Cluster 2
Make a call from Service 2 to Service 1 using `global` name created by admiral
Notice that some of the calls made from Service 2 to Service 1 take very long time. This is because at the

[2020-01-28 19:00] aattuluri opened #63 "[FEATURE] Do not sync Istio resources across clusters unless exported to all namespaces"
**Is your feature request related to a problem? Please describe.**
Admiral syncs Istio resources for a given hostname it generates across clusters. However, certain resources are intended for only the namespace where the workload runs, for example client side override for failover testing etc, which doesn't need to be replicated/synced to other clusters.

**Describe the solution you'd like**
Do no

[2020-02-07 08:47] LaysDragon opened #64 "[BUG] demo deploy RBAC role is incomplete"
**Describe the bug**
Flow the instruction from README via the admiral-install-v0.1-beta.tar.gz to deploy single cluster demo on kubernetes 1.16.6 and istio 1.4.3(deployed via rancher),the admiral will keep report about the error.
[code]
**Steps To Reproduce**
Simply flow instruction in README

**Expected behavior**
Admiral should success generate ServiceEntry.

**Note**
I fix it via add RBAC role

[2020-02-10 11:42] LaysDragon opened #65 "Not work very well with kubernetes 1.16 and istio 1.4.3 deployed via rancher[BUG]"
**Describe the bug**
After setup the sync step by step from README,the connection between cluster not working.
curl only get `503 (upstream connect error or disconnect/reset before headers)`.
If I trying to restart the gatewayingress pod,the gateway will stuck at
`Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)`
and won't start up successes until I remove those Service

[2020-02-10 20:13] aattuluri commented on #64
@LaysDragon Great feedback, will fix this.

[2020-02-10 20:18] aattuluri commented on #65
@LaysDragon We have definitely not tested it with k8s 1.16. A todo item.

Admiral was tested with k8s 1.14 (max version) and Istio 1.4.3 (max version).

This was great feedback, we will verify this behavior and close the issue once we fix any issue.

[2020-02-11 03:22] LaysDragon commented on #65
Forget the mention about the crash part,I remember it will crash with nil pointer at https://github.com/istio-ecosystem/admiral/blob/master/admiral/pkg/clusters/serviceentry.go

[2020-02-12 18:50] aattuluri opened #66 "[FEATURE] Add integration tests for admiral"
**Is your feature request related to a problem? Please describe.**
Admiral should have integration tests to cover the following scenarios:
i) K8s version + Istio version
ii) Multi cluster examples

[2020-02-12 23:30] #64 closed

[2020-02-19 07:40] martinbaillie commented on #64
Having a play with Admiral and hit this using latest. Should these roles and bindings not be in whatever is the sync namespace? `admiral-sync` by default

[2020-02-19 22:07] josephpeacock commented on #64
@martinbaillie Thanks for keeping me honest. We should have been overriding that namespace in Kustomize for the example. I fixed that and validated that the out of the box example starts up.

[2020-02-21 16:40] palimarium commented on #65
Hi @aattuluri
Getting the same issue with k8s  v.1.17.2

Logs: https://gist.github.com/palimarium/6b245f64eafef92553fe1dc86cb74384

[2020-02-22 19:31] saradhis opened #72 "[FEATURE] DOCS: Documentation site"
**Is your feature request related to a problem? Please describe.**
Docs are mostly in the README. It would be good to separate the documentation for easy access and organization.

**Describe the solution you'd like**
Documentation similar to https://argoproj.github.io/argo-cd/ would be good. This could also host the Admiral API documentation.

[2020-02-25 00:05] martinbaillie commented on #9
I've been evaluating Admiral and also noticed this. I feel cleanup is quite a fundamental feature and I'm wondering if anyone is looking at it?

[2020-02-25 00:08] aattuluri commented on #9
@martinbaillie Agreed, there isn't anyone looking at it right now. We can add this to milestone v0.1.

[2020-02-27 00:14] aattuluri commented on #72
Duplicate of https://github.com/istio-ecosystem/admiral/issues/60

[2020-02-27 00:14] #72 closed

[2020-02-29 00:59] josephpeacock opened #76 "[BUG] Infer ServiceEntry ports from destination service"
The serviceEntry should add ports based on those present in the service it will be pointing to. Currently it is hardcoded to default http ports (and named http).

Thanks to Martin Baillie for the report!

https://github.com/istio-ecosystem/admiral/blob/master/admiral/pkg/clusters/serviceentry.go#L84-L85
since my Service ports are named grpc I am being bitten by: https://istio.io/docs/reference/con

[2020-03-08 07:38] #34 closed

[2020-03-08 21:42] aattuluri commented on #31
@josephpeacock Please close this once your GTP PR is merged.

[2020-03-10 23:36] josephpeacock commented on #31
Done as part of #80 and #41

[2020-03-10 23:36] #31 closed

[2020-03-12 20:59] aattuluri commented on #49
Completed with https://github.com/istio-ecosystem/admiral/pull/82

[2020-03-12 20:59] #49 closed

[2020-03-12 21:00] aattuluri commented on #60
Completed with https://github.com/istio-ecosystem/admiral/pull/82

[2020-03-12 21:00] #60 closed

[2020-03-13 20:21] aattuluri commented on #63
Fixed with https://github.com/istio-ecosystem/admiral/pull/81

[2020-03-13 20:21] #63 closed

[2020-03-17 09:41] vivekpd15 commented on #65
Similar issue with Istio 1.5.0 and Kuberenetes 1.15.2

[2020-03-17 17:30] aattuluri commented on #65
@palimarium @vivekpd15 Thanks for reporting it. We will have Istio 1.5 and k8s 1.15.x support in v0.9 release scheduled for end of this month.

@vivekpd15 It would help if you can share logs if you saved any.

[2020-03-19 10:13] LaysDragon commented on #65
I feeling that serviceentry seems very easy to break something,I mean ....something is stuck rather than broken,so there is no error log while serviceentry cause ingressgateway stuck at not ready status.
Today I upgrade istio to 1.4.6 via rancher's helm,the ingressgateway stuck into not ready status again,everything looks fine but pilot just sync the CDS then do nothing.it looks like pilot is wait

[2020-03-20 20:28] vrushalijoshi opened #83 "[FEATURE] Create/Update Istio Sidecar resource in workload namespace based on its dependencies"
**Is your feature request related to a problem? Please describe.**
Sidecar resource needs to be created/updated in workload's namespace based on its defined dependencies. This will be useful to limit amount of configuration pushed out to the envoy sidecar instances within mesh.

[2020-03-24 09:18] sisinduku opened #85 "[FEATURE] Creation of ServiceEntry to all watched clusters by default"
**Is your feature request related to a problem? Please describe.**
While the creation of Dependency CR is optional, we need to provide default behavior in order to make inter-cluster service communication feasible. This will enable service which needs to call to other services in another cluster without adding any configuration

**Describe the solution you'd like**
ServiceEntry of service to be cr

[2020-03-27 05:26] aattuluri opened #87 "[FEATURE] Add support for dependency update"
**Is your feature request related to a problem? Please describe.**
Currently, when a dependency is updated, it doesn't take effect

**Describe the solution you'd like**
A dependency update should be handled, similar to a dependency add.

[2020-03-27 17:21] #87 closed

[2020-03-31 10:51] asushanthk opened #90 "[BUG] Admiral crashes on GTP add followed by delete operation"
**Describe the bug**
A clear and concise description of what the bug is.
Admiral crashes on GTP add followed by delete operation

**Steps To Reproduce**
1. Start with admiral + create secret for cluster so that Admiral starts monitoring the cluster.
2. Add a GTP with no matching deployment. I used the GTP yaml as is from https://github.com/istio-ecosystem/admiral/blob/master/docs/Architecture.md
3

[2020-04-01 00:24] josephpeacock commented on #90
@asushanthk thanks for your report! Could you share the stacktrace from the panic?

[2020-04-06 16:42] aattuluri commented on #83
Fixed with https://github.com/istio-ecosystem/admiral/pull/84

[2020-04-06 16:42] #83 closed

[2020-04-07 03:20] asushanthk commented on #90
@josephpeacock

E0407 08:49:17.149035   80726 runtime.go:78] Observed a panic: &runtime.TypeAssertionError{_interface:(*runtime._type)(0x227daa0), concrete:(*runtime._type)(nil), asserted:(*runtime._type)(0x2467300), missingMethod:""} (interface conversion: interface {} is nil, not *v1.GlobalTrafficPolicy)
goroutine 121 [running]:
k8s.io/apimachinery/pkg/util/runtime.logPanic(0x22bafa0, 0xc000bf61

[2020-04-14 22:11] aattuluri opened #92 "[FEATURE] Support new CRD group admiralproj.io"
**Is your feature request related to a problem? Please describe.**
Migrate the CRD group from `admiral.io` to `admiralproj.io`

**Describe the solution you'd like**
The CRDs dependency and globaltrafficpolicy should use new group `admiralproj.io`

Also make sure the fake client generated for these new CRDs works as expected.

[2020-04-15 21:26] #62 closed

[2020-04-15 21:26] #90 closed

[2020-04-15 21:26] #39 closed

[2020-04-21 21:11] aattuluri commented on #65
The `latest` tag works for k8s 1.18.0 and Istio 1.5.1. It will be released as part of `v0.9`

[2020-04-21 21:11] #65 closed

[2020-04-28 12:31] thinkin opened #98 "[FEATURE] How to achieve GlobalTrafficPolicy by different request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
for example，where app A access app B（A us-east to B us-east，A us-west to B us-west ），but now i find flow (url prefix=/api/v1) has problem，i want to shifting app A 50% in us-east t

[2020-04-28 23:08] aattuluri commented on #98
@thinkin Locality load balancing in istio is currently supported at a host level (its configurable on destination rule). Supporting the behavior at a route level would need some sophisticated configuration to create east and west specific endpoints (service entries?) and then using virtual traffic to shift traffic. I don't think this specific use case can be supported at the moment in admiral with

[2020-04-29 09:27] thinkin commented on #98
@aattuluri

for example, router module which controls entrance traffic；
![未命名文件](https://user-images.githubusercontent.com/18477667/80580774-ae97a280-8a3e-11ea-95f4-5cdb9fd0a05d.png)

[2020-05-12 08:13] Ultrafenrir opened #100 "[FEATURE] skip verifying tls on k8s api endpoints"
Hi!
In our installation all cluster api endpoints located behind domain with self-signed certificate.
I tried to add our CA into default system cert store inside admiral image, but it still produce errors about untrusted certificate

**Describe the solution you'd like**
Ability to add CA into admiral cert store, and some flag like insecure-skip-tls-verify for admiral as well

P.S.
If i specify ski

[2020-05-12 09:41] Ultrafenrir opened #101 "[FEATURE] AWS EKS support"
Hi!
As u know, for amazon eks kubeconfig is not enough to get access to the cluster , aws credential and iam-auth binary needed as well

**Describe the solution you'd like**
Maybe it's misunderstanding , but looks like now there is no option to connect bare eks cluster to admiral using standard EKS auth scheme.

[2020-05-13 05:42] aattuluri commented on #100
@Ultrafenrir Thanks for reporting this. I was able to reproduce this. Will determine possible fix and update the thread. Let me know if you want to contribute the fix.

[2020-05-13 05:48] aattuluri commented on #101
@Ultrafenrir Admiral uses kubeconfig with opaque token generated based on `admiral` service account provisioned for adding the cluster to the list of clusters being watched by admiral. Once such a kubeconfig is created (using the amazon eks kubeconfig downloaded) that will be created as a secret for admiral to watch and use. So I think we should be good. We have automated that process to create su

[2020-05-15 01:29] kenakamu opened #102 "[BUG] Question: How to cluster load balancing work"
**Describe the bug**
I follow multi cluster setup sample to setup my AKS cluster

**Steps To Reproduce**
Simply follow the steps in example. I use istio 1.15.1 and k8s 1.15.10. admiral 0.9

**Expected behavior**
After complete the step, I get "Hello World! - Admiral!!" and greeting from remote.

**Actual behavior**
It always comes back from local so I only see "Hello World! - Admiral!!". I also ad

[2020-05-15 05:35] kenakamu commented on #102
Additional Info. I checked DestinationRule and I realize there is no loadbalancing rule added even thought I create GTP

[2020-05-15 05:47] kenakamu commented on #102
update. When i create GTP like below it seems working

[code]

The original sample didn't have ```/*``` as part of region

[2020-05-15 05:54] kenakamu commented on #102
I am not sure if admiral respect gtp as i see sometimes it seems work but it goes back to 50:50 at the end. I still dont see it updates DR. If you have any advice how to troubleshoot or debug, really appreciated

[2020-05-15 06:52] Ultrafenrir commented on #101
Thanks for explanation!

[2020-05-15 06:52] #101 closed

[2020-05-15 07:06] Ultrafenrir opened #103 "[BUG] Admiral generates ServiceEntry only with cluster.local suffix"
**Describe the bug**
We have some amount of self-hosted clusters that has unique name like test-env dev-env etc.
When admiral creates ServiceEntry it does not respect cluster name and every time in endpoints section i got some.service.svc.cluster.local instead of  some.service.svc.your-cluster-name

**Steps To Reproduce**
Deploy admiral in cluster with unique name in terms of dns resolution

**Exp

[2020-05-15 09:17] Ultrafenrir commented on #9
+1

[2020-05-15 18:44] aattuluri commented on #102
@kenakamu Can you show the GTP you created and the `ServiceEntry/DestinationRule` getting generated?

Speaking of no load balancing happening, do the nodes on your cluster have region labels? Can you show the output of the following command from both clusters:
`kubectl get nodes --show-labels`

[2020-05-16 03:10] aattuluri commented on #103
@Ultrafenrir This is the problem https://github.com/istio-ecosystem/admiral/blob/70af3fb2459102bc31e47ecb1307b2e342435dab/admiral/pkg/controller/common/common.go#L22, I would love to have this contributed, should be a simple change to https://github.com/istio-ecosystem/admiral/blob/master/admiral/cmd/admiral/cmd/root.go if its static for all clusters being monitored by admiral

[2020-05-16 03:35] aattuluri commented on #100
@Ultrafenrir After looking into this further, both requirements of this enhancement can be achieved with configuration.

i) The root cert specified under `certificate-authority-data:` needs to have the complete chain if this is an intermediate CA.

ii) To skip verifying tls altogether `replace` the following line:
https://github.com/istio-ecosystem/admiral/blob/70af3fb2459102bc31e47ecb1307b2e34243

[2020-05-17 07:11] kenakamu commented on #102
I destroy the cluster and re-create. This is what I am doing.

- Cluster three AKS clusters in eastus, westus and centralus region.
- Install istio on eastus and westus clusters by folloing [replicated control](https://istio.io/docs/setup/install/multicluster/gateways/)
- Delete envoyfilter as described in [Example](https://github.com/istio-ecosystem/admiral/blob/master/docs/Examples.md)
- Install

[2020-05-17 14:03] kenakamu commented on #102
I have 3 AKS cluster. eastus (eastcluser), westus (westcluster) and cetralus (admiral)
I installed istio on east and west, then make centralus as admiral control plane.

As I dont have istio install on central, I install both remotecluster.yaml and demosinglecluster.yaml on three clusters. Followings are labels of nodes

centralus
[code]
eastus
[code]
westus
[code]

The created objects are as foll

[2020-05-17 14:07] kenakamu commented on #102
I also see error in kiali
![Annotation 2020-05-17 230636](https://user-images.githubusercontent.com/9940668/82150298-1fd6b280-9893-11ea-82ff-008253a85c21.png)

[2020-05-17 14:08] kenakamu commented on #102
By the way, if I ran same test in westcluster, then i only get reply from westcluster local.

[code]

[2020-05-17 15:07] kenakamu commented on #102
One additional info is that if I delete greeting deployment from eastcluster, it failedover to westcluster

[code]

And when I redeploy greeting it auto failback to local one. So HA works as expected, only LB is different from what document says

[2020-05-17 20:56] aattuluri commented on #102
Ok, thanks for sharing all this information. Looks like GTP load balancer settings aren't getting applied, which makes me suspect that its not being used.

Regarding kiali error, thats weird because `istio-multicluster-ingressgateway` should be present with multicluster install, you can simply run `kubectl get gateway -n istio-system` to double that.

Can you also share the following information:

[2020-05-18 01:07] kenakamu commented on #102
The ingress actually exists and the failover works anyway.

[code]

I applied GTP in eastcluster today but nothing change.

[code]

[admiral_logs.admiral.log](https://github.com/istio-ecosystem/admiral/files/4641485/admiral_logs.admiral.log)
[admiral_logs.eastcluster.log](https://github.com/istio-ecosystem/admiral/files/4641486/admiral_logs.eastcluster.log)
[admiral_logs.westcluster.log](https://g

[2020-05-18 05:03] aattuluri commented on #102
While I am looking into this, there are a couple of points I wanted to make
i) You do not need to run admiral in your east and west clusters
ii) You need to create the dependency record in central (as thats your admiral control plane cluster), I see that it was created in east.

Also, from the admiral logs I clearly see that the gtp is being skipped, looking into it further.
[code]

[2020-05-18 05:27] kenakamu commented on #102
Thanks for answer. The issue is that it's not clear to me how I should setup the cluster with Admiral only cluster and two istio clusters. As sample only explain how to do it by two clusters with admiral and first cluster co-exists.

I cannot create some resource due to lack of namespaces or CRD.

Could you give me a bit clearer instruction how to install with multiple cluster?

For example, if I

[2020-05-18 05:41] kenakamu commented on #102
I deleted admiral ns from both east and west cluster. Deleted dependency from eastcluster and re-create in admiral cluster. The system works same as before. The log still says no matching deployment.

[code]

[2020-05-18 05:52] aattuluri commented on #102
I found the issue, I think the example deployment lost a label in recent edits before the release.

To fix it in your clusters, modify the greeting deployment to add a label in both east and west clusters:
`kubectl label deployment greeting -n sample identity=greeting`

For example greeting deployment will look like below after the above command execution:
[code]

Once you do that, you should see

[2020-05-18 05:57] kenakamu commented on #102
Cool. Do we need to add that to remote sample as well?

[2020-05-18 05:57] aattuluri commented on #102
Excellent point, we will modify the current install structure to accommodate this scenario (let me know if you want to contribute). We have overrides at Intuit to achieve a similar scenario.

Basically,
i) Basically dependencies live in Admiral cluster
ii) GTPs and Istio resources live in Admiral monitored clusters

[2020-05-18 05:57] aattuluri commented on #102
Yep

[2020-05-18 06:02] kenakamu commented on #102
and do you know when the change is picked up? It generates dr as expected. But when I chnage GTP, admiral won't update dr for 10 mins already

[2020-05-18 06:08] aattuluri commented on #102
The sync interval configured for this example admiral installation is 20s, so shouldn't be taking that long.

Can you make few more edits and share logs if you see similar times?

Are you observing traffic pattern as per the generated DR?

[2020-05-18 06:34] kenakamu commented on #102
Sorry it seems my environment didnt enough resource. After restart everything and add addtional node, it started working. Thanks a bunch.

[2020-05-18 06:42] kenakamu commented on #102
sorry for reopen this again.
I think we cannot set 0 for locality? This is the error  I see when I set west to 0 and east to 100
time="2020-05-18T06:38:24Z" level=info msg="op=Update type=DestinationRule name=default.greeting.global-default-dr cluster=eastcluster, e=admission webhook \"validation.istio.io\" denied the request: configuration is invalid: 1 error occurred:\n\t* locality weight must b

[2020-05-18 07:07] kenakamu opened #104 "[Enhancement] Make OutlierDetection params configurable"
Is there anyway to set outlierDetection? It seems to be hardcoded at the moment, but can we use GTP or other RD to define it?

[code]

[2020-05-18 07:07] ragunathan23 opened #105 "[BUG] curl: (6) Could not resolve for sample application"
**Describe the bug**
After deploying the sample service in the cluster and running the command
"kubectl exec --namespace=sample -it $(kubectl get pod -l "app=webapp" --namespace=sample -o jsonpath='{.items[0].metadata.name}') -c webapp -- curl -v http://default.greeting.global" throws following error:
curl: (6) Could not resolve host: default.greeting.global
**Steps To Reproduce**
k8 cluster runni

[2020-05-18 07:34] kenakamu commented on #105
i had the same issue before (even though with AKS)
I miss configured core-dns to resolve global. Did you update your coredns (or kubedns) to resolve global to forward to istio core dns?

[2020-05-18 07:39] ragunathan23 commented on #105
@kenakamu I could see both coredns and kubedns configmap available in kube-system namespace. Should i remove the kubedns configmap?

[2020-05-18 07:44] kenakamu commented on #105
not sure in AWS but in AKS we update coredns-custom to update stub domain.
https://docs.microsoft.com/en-us/azure/aks/coredns-custom#stub-domains
You should have the same for AWS

[2020-05-18 07:54] ragunathan23 commented on #105
I could see following logs in kube-dns
- Updated stubDomains to map[global:[$(kubectl get svc -n istio-system istiocoredns -o jsonpath={.spec.clusterIP})]]
- Invalid configuration: invalid nameserver: "$(kubectl get svc -n istio-system istiocoredns -o jsonpath={.spec.clusterIP})" (value was &TypeMeta{Kind:,APIVersion:,}), ignoring update

[2020-05-18 07:55] ragunathan23 commented on #105
@kenakamu I could see following logs in kube-dns
- Updated stubDomains to map[global:[$(kubectl get svc -n istio-system istiocoredns -o jsonpath={.spec.clusterIP})]]
- Invalid configuration: invalid nameserver: "$(kubectl get svc -n istio-system istiocoredns -o jsonpath={.spec.clusterIP})" (value was &TypeMeta{Kind:,APIVersion:,}), ignoring update

[2020-05-18 08:16] kenakamu commented on #105
I don't know about AWS stuff, sorry. Let's wait if others can help

[2020-05-18 13:28] ragunathan23 commented on #105
@kenakamu made kubedns point to istiocoredns, but istiocoreddns throws following error. It's unable to resolve the global domain.
ERROR:
greeting.sample.svc.cluster.local.sample.global.    IN     A                                                                                       │
│ 020-05-18T13:26:26.233757Z    info    Query A record: greeting.sample.svc.cluster.local.sample.global.->{greetin

[2020-05-18 13:55] kenakamu commented on #105
The address looks wired. Did you remove the envoy filter when install admiral which example page explains

[2020-05-18 14:36] ragunathan23 commented on #105
@kenakamu yes I did remove the envoy filter. I am not sure what configuration makes this weird dns entry. There is one Destonationrule for istio-multicluster-ingressgateway with *.global entry for the host. Not sure whether this has any impact. With ISTIO things are made so complex.

[2020-05-18 15:00] kenakamu commented on #105
What is ServiceEntry looks like now? Does default.greeting.global points to greeting.sample.svc.cluster.local?

[2020-05-18 15:30] ragunathan23 commented on #105
@kenakamu please find the service entry for greeting, it does point to local fqdn.

` apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  creationTimestamp: "2020-05-18T06:53:54Z"
  generation: 1
  labels:
    identity: greeting
  name: default.greeting.global-se
  namespace: admiral-sync
  resourceVersion: "20802297"
  selfLink: /apis/networking.istio.io/v1beta1/namespaces/admi

[2020-05-18 15:42] kenakamu commented on #105
yeah it does looks right. so something went wrong when doing the local lookup. If you curl to http://greeting.sample.svc.cluster.local, I assume its working as expected?

By the way, when I had the issue before, to avoid the complex troubleshooting, I simply remove istio and admiral and reinstall everything as it won't take much time anyway.

If you look into coredns or coredns-custom, whatever AW

[2020-05-18 15:45] ragunathan23 commented on #105
I am not using kubedns and not coredns. Do we need coredns for this to
work. As I could see kubedns indeed forwards request to istiocoredns and
the call reaches the respective pod but returns 503.

On Mon, May 18, 2020, 9:12 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 15:53] kenakamu commented on #105
I mean it comes with k8s and AKS uses coredns. I dont know if AWS uses coredns or kubedns. It doesn't matter but you simply need to let k8s dns to forward any name end with global to be resolved by istio core dns. So if you see the name resolution is actually forwarded to istio dns, then that part should be fine. The interesting part is that istio dns didnt solve it right. Did you also make sure t

[2020-05-18 15:55] ragunathan23 commented on #105
No I didn't do this step. Is that the problem?

On Mon, May 18, 2020, 9:23 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 15:57] kenakamu commented on #105
That is not the step but it is part of the install yaml from istio multi cluster.

https://istio.io/docs/setup/install/multicluster/gateways/

[2020-05-18 16:10] ragunathan23 commented on #105
Sorry I couldn't find this step.

On Mon, May 18, 2020, 9:27 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 16:14] kenakamu commented on #105
the install step is like below

Install Istio:
[code]
And the values-istio-multicluster-gateways.yaml should contains it. I dont know which template you use to install but this is the step I follow to install istio to multi cluster

[2020-05-18 16:16] ragunathan23 commented on #105
I did this step for demo profile not the default profile.

On Mon, May 18, 2020, 9:45 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 16:16] kenakamu commented on #105
try follow the steps in https://istio.io/docs/setup/install/multicluster/gateways/

[2020-05-18 16:19] ragunathan23 commented on #105
I did follow deploy application and setting up dns from above doc. After
that followed admiral configuration. This what admiral recommend as well.

On Mon, May 18, 2020, 9:47 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 16:24] kenakamu commented on #105
Then I have no other idea. What I did was to create AKS clusters and follow the doc to install itsio to both clusters. Update DNS and confirm the demo app from istio works anyway before install admiral.

Once I failed to setup coredns domain to solve *.global* rather than *global* and also added port number at the end of forward IP which I didnt need. Once I solved it, everything else just worked.

[2020-05-18 16:29] ragunathan23 commented on #105
May be I will try this. But the curl request does reach the greeting app,
which I could see from Istio proxy log. But not sure why it's returning
503. Is there anyone from admiral could help.

On Mon, May 18, 2020, 9:54 PM Kenichiro Nakamura <notifications@github.com>
wrote:

[2020-05-18 17:38] aattuluri commented on #102
@kenakamu I think this is a bug, the fix is to skip setting the locality with `0` weight when other value is `100`. Let me know if you are interested in submitting a PR.

[2020-05-18 17:40] aattuluri commented on #104
@kenakamu Yep, I think GTP would be a good place but we need to define that in a simple way and not introduce a whole new configuration on top of Istio's DR. I open to any ideas. Also turning this to a Enhancement.

[2020-05-18 17:41] aattuluri commented on #100
@Ultrafenrir Were you able to test it with the above fix?

[2020-05-18 18:14] aattuluri commented on #105
@ragunathan23 Ok, it would be good if you can uninstall istio and reinstall it using the steps [here](https://istio.io/docs/setup/install/multicluster/gateways/#deploy-the-istio-control-plane-in-each-cluster) and then follow admiral steps. The `demo` profile doesn't have the multicluster configurations.

Like @kenakamu suggested, I would first try making the call `http://greeting.sample.svc.cluste

[2020-05-18 18:56] aattuluri opened #106 "[FEATURE] Add documentation for production admiral deployment"
**Is your feature request related to a problem? Please describe.**
Right now the example documentation is based on admiral coexisting in one of the participant clusters and the crds in the installation are not well separated to support admiral running in a dedicated cluster

**Describe the solution you'd like**
The examples installation should have a good separation between what needed to admiral

[2020-05-19 02:19] ragunathan23 commented on #105
@kenakamu @aattuluri Thanks for your response. After re-installing the call http://default.greeting.global worked and did return 200.
NOTE: This time created ISTIO with default profile and not demo.

When I ran the curl request multiple times, the request gets served from cluster 1, and none of them served from cluster 2. My clusters are running in same region. Is this the reason for this behavior

[2020-05-19 02:24] kenakamu commented on #105
I see the same behavior in my setup as well and I believe it comes from locality settings in Istio. You ca n create Global Traffic Policy in Cluster 1 to set weight 50:50 to both cluster for load balancing

[2020-05-19 02:44] aattuluri commented on #105
@ragunathan23 If both clusters belong to the same region then yes, the request should load balance between the two. Can you share the generated ServiceEntry or check if it has both cluster local and remote endpoints?
@kenakamu GTP works if regions are different, in his case both clusters are in the same region.

[2020-05-19 04:37] ragunathan23 commented on #105
@aattuluri please find the service entry. I could see both local and remote endpoint configured.

apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  creationTimestamp: "2020-05-19T01:50:40Z"
  generation: 46
  labels:
    identity: greeting
  name: default.greeting.global-se
  namespace: admiral-sync
  resourceVersion: "20975065"
  selfLink: /apis/networking.istio.io/v1beta1/na

[2020-05-19 05:51] ragunathan23 commented on #105
@aattuluri when I continuously excute the call, it does load balance and for the multiple clusters within the same region. One more question does admiral work with the ISTIO demo profile as well?

[2020-05-20 22:45] josephpeacock opened #109 "[BUG] Admiral shouldn't log errors when installed into a cluster without Argo Rollouts"
**Describe the bug**
It doesn't seem to effect functionality, but there are repeated logs of `Failed to list *v1alpha1.Rollout: the server could not find the requested resource (get rollouts.argoproj.io)` when Admiral is installed into a cluster that doesn't have Argo Rollouts.

**Steps To Reproduce**

Follow the demoSingleCluster example in a cluster that lacks the rollouts CRD.

**Expected behav

[2020-05-21 16:42] aattuluri commented on #105
@ragunathan23 Cool. I don't think it works with `demo` profile from what I remember since it doesn't install the multi-cluster configuration.

[2020-05-21 16:42] #105 closed

[2020-05-28 05:19] aattuluri commented on #102
Fixed with https://github.com/istio-ecosystem/admiral/pull/111

[2020-05-28 05:19] #102 closed

[2020-06-09 20:45] #57 closed

[2020-06-15 05:42] aattuluri opened #112 "[BUG] VirtualService configuration doesn't work for admiral CNAMEs when using Sidecar resource"
**Describe the bug**
A clear and concise description of what the bug is.
Currently, admiral updates the istio Sidecar custom resource if configured. This only imports the cluster local endpoint and not the admiral generated CNAME resulting in VirtualService configuration created for a service by the namespace owner would not be imported to the client's namespace.

**Steps To Reproduce**
- Start ad

[2020-06-17 19:06] pnovotnak commented on #109
Is anyone working on this? I'm happy to take it on

[2020-06-17 19:10] aattuluri commented on #109
@pnovotnak not at the moment, assigned it to you

[2020-06-17 21:19] aattuluri commented on #112
Fixed with https://github.com/istio-ecosystem/admiral/pull/113

[2020-06-17 21:19] #112 closed

[2020-06-17 21:20] aattuluri commented on #100
@Ultrafenrir I am going to close this as I verified the solutions above. Please reopen in case.

[2020-06-17 21:20] #100 closed

[2020-07-15 18:36] wmgroot opened #121 "[BUG] Unable to use Admiral with Istio 1.6 installed through IstioOperator"
**Describe the bug**
The multi-cluster setup for the IstioOperator automatically creates an EnvoyFilter that rewrites .global traffic. This conflicts with Admiral, which contains instructions to remove the EnvoyFilter. However, in the declarative setup for the IstioOperator, it is assumed that all configuration changes to Istio should be handled in its declarative spec.

For example, here is our I

[2020-07-20 16:19] josephpeacock opened #122 "[BUG] Fix Memory Leak in Cache Controller Refresh"
**Describe the bug**
The updateCacheController hook is designed to delete and refresh the cache controllers for all tracked remote clusters. Right now, the goroutines allocated for the cache controllers aren't being released when this happens. Instead, they're being parked (https://golang.org/src/runtime/proc.go). Work is needed to figure out why these goroutines are being parked and resolve that

[2020-07-21 01:50] iandyh opened #124 "Example Service Entry load balancing issue and mTLS connection"
**Describe the bug**
This is not a bug for usage of admiral per se. I am following the docs: https://istio.io/latest/blog/2020/multi-cluster-mesh-automation/ to understand the idea behind Admiral but encountered the following issue:

1. After creating the service entry:

[code]

the Envoy configuration does not look correct to me:
[code]
After I changed to using STATIC and actual pod IP, the confi

[2020-07-24 16:19] vrushalijoshi opened #125 "[BUG] Service entry needs to be cleaned up after annotation update"
**Describe the bug**
When a admiral ignores a service which was previously synced, service entry does not get updated in admiral-sync namespace.

**Steps To Reproduce**
Pick a service which is currently not ignored by admiral (admiral.io/ignorea annotation is false). Update the annotation to be true, admiral now will not sync this service, but corresponding service entry does not get updated in ad

[2020-07-27 20:44] josephpeacock opened #127 "[BUG] Route to the in-cluster service/pod by default"
**Describe the bug**
If there are multiple deployments running, in multiple clusters, with the same Identity, in the same locality, Admiral currently creates a service entry with endpoints pointing to every single one. This weights the cross-cluster calls equally to the in-cluster calls.

**Steps To Reproduce**
Spin up two clusters in the same AWS region and deploy the same app into both. Examine

[2020-07-27 21:26] aattuluri commented on #124
@iandyh
i) above is a known limitation in Istio, I just raised a feature request.
https://github.com/istio/istio/issues/25898

For ii) did you make a http request to `sample-app.caas-sentinel`? Try using the full name to see if that works, `sample-app.caas-sentinel.svc.cluster.local`

[2020-07-28 03:53] iandyh commented on #124
@aattuluri Thanks a lot for your reply.

for 2), even after I changed to FQDN, it's the same error message...

[2020-07-28 07:18] iandyh commented on #124
@aattuluri Thanks for the reply!

i) Will keep an eye at that issue.
ii) If I directly call the remote service with k8s FQDN, mTLS will work. But if I use the `productpage.global` it will fail. I guess SNI verification fails here.

[2020-07-28 22:30] aattuluri commented on #124
@iandyh
You can configure `subjectAltNames` in your service entry if you are sure that its SAN verification thats failing

[2020-07-31 02:35] iandyh commented on #124
@aattuluri After adding

[code]

It does not help...

[2020-07-31 02:50] aattuluri commented on #124
@iandyh Can you add this to your deployment -> spec -> template -> annotations, make some requests and share the logs?
[code]

[2020-07-31 02:51] aattuluri commented on #124
I am not sure if its a SAN verification failure, debug logging might help identity the actual issue.

[2020-07-31 07:09] wenxian opened #128 "The GTP doesn't update the destinationrule"
I have Admiral server install in us-east-1. And both us-east-1 and us-west-2 added as a remote cluster. Try to apply to GTP, however, it doesn't get the destinationrule updated.

However, the logs show:
time="2020-07-31T07:03:13Z" level=info msg="op=Update type=VirtualService name=default.greeting.global-default-vs cluster=ps2-nonprod-dev-us-east-1, e=Success"

But no locality added in:

Namespace

[2020-08-02 22:36] #128 closed

[2020-08-03 08:12] iandyh commented on #124
@aattuluri Looking at the logs it does not look like the issue.

[2020-08-06 12:23] kentchenjh opened #131 "[FEATURE] Compatibility about istio"
After reading the doc and code in Admiral. It mainly auto-produce ServiceEntry and DestinationRule for routing, and I noticed that the created DestinatioRule contains the new field - Distribute, it decides that weight. So how can Admiral be compatible with low version istio(like v1.2.3) which did not have Distribute field at all.

[2020-08-06 12:27] kentchenjh commented on #131
alright, I found Global Traffic Policy requires istio 1.5.1. End of story.

[2020-08-06 12:27] #131 closed

[2020-08-06 22:18] jwebb49 opened #132 "[FEATURE] Admiral RFC: Client API"
Create a way for clients to set timeouts, retries, circuit breakers, faults, and time delays that only apply to that specific client of the service and no other clients. This API designs and introduction of a new type will prevent the client from having access to the more sensitive routing, security, and load balancing configuration used by the service and not relying on the service team to make c

[2020-08-07 16:19] aattuluri commented on #132
@jwebb49 Nice proposal!

Currently istio's [merge semantics](https://istio.io/latest/docs/ops/best-practices/traffic-management/#split-virtual-services) do not allow virtual services to be merged for sidecars (only allowed at Gateway). We need this before we can implement the proposed design. As far as I can think, we cannot achieve this without support in Istio.

Also, not clear about reusing the

[2020-08-07 20:49] jwebb49 commented on #132
@aattuluri  the goal would be to have one VirtualService and use logic in admiral to merge the Client type with the existing VirtualService (VS) and DestinationRule (DR).  The part I am not sure about would be to place the merged VS and DR in the client namespace or override the services VS and DR.

I was thinking to reuse the existing Istio API and not wrap it.  WDUT?

[2020-08-08 06:27] wenxian opened #133 "[BUG] If deployment has dash (-), the env will be the last world of the deployment name, not default"
**Describe the bug**
If there is "-" in the deployment name, then the env will not be default but lastword

**Steps To Reproduce**
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-lastword
  namespace: sample
  labels:
    identity: webapp-identity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp-lastword
  template:
    metadata:
      annotations:
        sidecar.i

[2020-08-08 06:34] wenxian opened #134 "[BUG] The GlobalTrafficPolicy doesn't failover when weights declared"
**Describe the bug**
If the weight is declared, the 10 times of consecutive5xxErrors won't failover to the other region

**Steps To Reproduce**
[code]

**Expected behavior**
If a service returns 10 times 500, it won't get kicked off when GTP  Weight(90 / 10 ) applied.

Without GTP, the  failover will work with 10 consecutive 500 errors

[2020-08-08 06:42] wenxian commented on #127
My experience with installing Istio 1.6 [replica control plane](https://istio.io/latest/docs/setup/install/multicluster/gateways/), it always goes to the local one as the locality is enabled by default. Unless it's detected outlier, then it will failover to other endpoints

[2020-08-10 22:31] aattuluri commented on #134
@wenxian This could be an istio issue, but I remember this was tested at least in istio version `1.5.x`
i) What istio version are you using?
ii) Can you paste the destination rule generated after applying this GTP?

[2020-08-11 00:04] wenxian commented on #134
we are using istio 1.6

[code]
I am calling from the us-east-1, actually, i found as long as the local (us-east-1) >= 50, the call always in local (us-east-1) and won't fail over to remote (west)

[2020-08-11 00:17] wenxian opened #135 "Admiral Cache"
Don't know how long the admiral cache exist.

First Time:
Repository: a admiral-demo in us-east-1 (web & greeting) and us-west-2 (web)
Observe: the greeting SE in us-west-2 only created after a Dependency is declared.

Then:
Removing all Dependency and admiral-demo namespace in both us-east-1 and us-west-2. Deploy again the same thing - admiral-demo in us-east-1 (web & greeting) and us-west-2 (web

[2020-08-11 06:11] aattuluri commented on #134
@wenxian I see the destination rule has been generated with the correct weights as per the [spec](https://istio.io/latest/docs/reference/config/networking/destination-rule/#LocalityLoadBalancerSetting) apparently the distribute sets weights. Outlier detection might not be used here.

Probably looking at the envoy clusters night help, can you share the output for the following command:
`istioctl pr

[2020-08-11 06:13] aattuluri commented on #125
Fixed with https://github.com/istio-ecosystem/admiral/pull/126

[2020-08-11 06:13] #125 closed

[2020-08-11 06:14] aattuluri commented on #124
This is not an admiral bug, closing this issue.

[2020-08-11 06:14] #124 closed

[2020-08-11 06:16] aattuluri commented on #109
Fixed with https://github.com/istio-ecosystem/admiral/pull/119

[2020-08-11 06:16] #109 closed

[2020-08-11 06:23] aattuluri commented on #135
@wenxian SEs are created only if there are dependencies declared, there is an issue open for creating SEs in all clusters without dependency.
This is a [bug](https://github.com/istio-ecosystem/admiral/blob/9e3a12241626bf29e08f9391ef8d4dc5c85f1848/admiral/pkg/clusters/types.go#L264) if admiral wasn't restarted as `Delete` dependency is not implemented.

[2020-08-12 23:56] wenxian commented on #134
us-east-1
[code]
I have a set up us-east-1 (admiral server and admiral remote) us-west-2 (admiral remote), actually i see the 50/50 distribute works in west but not in the east.

The east cluster goes to west (the LB), but looks like the west LB still returns the east response. So finally it looks like always in the east

us-west-2
[code]

[2020-08-21 01:02] aattuluri commented on #133
@wenxian Is there a spec that states deployment name ends with `env` if it has a `-`?. I will change this to feature as it's not a bug.

[2020-08-31 16:22] aattuluri opened #140 "[FEATURE] Add workload selector for generated SEs for better load balancing across pods"
Context
Currently, admiral generated SEs point to K8s service names which causes:
i) Istio subset routing to not work
ii) The load balancing doesn't work which impacts protocols like gRPC since the source pods do not directly connect to the destination pods but the clusterIps of the servic as admiral generated SE points to k8s service endpoint.

Proposed solution
Istio 1.6 and higher provides:
i)

[2020-09-02 16:44] aattuluri commented on #121
This needs to be supported in Istio 1.6, an issue will be filed. @aattuluri

[2020-09-02 17:13] aattuluri commented on #140
https://github.com/istio/istio/issues/25898

[2020-09-02 17:17] aattuluri commented on #135
We think this should be fixed with https://github.com/istio-ecosystem/admiral/issues/9 and its currently targeted for v1.1

[2020-09-02 17:17] #135 closed

[2020-09-14 21:43] aattuluri commented on #121
https://github.com/istio/istio/issues/27300

[2020-09-18 12:05] pisto opened #144 "liveness and readiness probe"
If i understand correctly it is not possible at the momento to define a liveness probe for the admiral controller. A reliable deployment in kubernetes would need it.

[2020-09-18 15:05] pisto commented on #9
eyeing this

[2020-09-18 18:29] Mengying-Li commented on #66
Done and merged to master

[2020-09-18 18:29] #66 closed

[2020-09-18 18:38] aattuluri commented on #66
I think the multi-cluster examples are not covered with this issue, we will address it as another issue.

[2020-09-24 11:11] krjensen opened #145 "Services are not synchronized without a specific Dependency"
After deploying a base Admiral setup for two k8s clusters, nothing is synced between clusters.
When I create a specific `Dependency` the sync works

[code]

Reading the documentation it states:
"Dependency is optional and a missing dependency for a service will result in an Istio configuration for that service pushed to all clusters."

So I would expect all services to be synchronized across all c

[2020-09-25 02:57] aattuluri commented on #145
@krjensen Thanks for reporting, this is a duplicate of https://github.com/istio-ecosystem/admiral/issues/85, please upvote this issue so we can prioritize that for 1.2 release.

[2020-09-25 02:57] #145 closed

[2020-09-25 04:47] krjensen commented on #145
Ah sorry for duplicating the issue.

[2020-10-09 21:48] aattuluri commented on #121
With Istio 1.6.12 and above and 1.7.4 and above, you can now set the flag `--set values.global.multiCluster.includeEnvoyFilter=false` to skip installing the domain suffix translation envoy filter when installing using istioctl and operator.
CC @wmgroot

[2020-10-09 21:48] #121 closed

[2020-10-29 21:33] aattuluri commented on #106
Fixed with https://github.com/istio-ecosystem/admiral/pull/147

[2020-10-29 21:33] #106 closed

[2020-11-03 19:45] aattuluri commented on #140
We found that using headless services (clusterIp: None) will solve the problem of load balancing across pods. We will be deferring the support for workload entry until it graduates with all the bug fixes resolved. Refer to this [comment](https://github.com/istio/istio/issues/25898#issuecomment-718304667) for more information.

[2020-11-05 19:16] aattuluri commented on #76
Fixed with https://github.com/istio-ecosystem/admiral/pull/148

[2020-11-05 19:16] #76 closed

[2020-11-09 01:42] maieve opened #150 "[BUG] service name http-{prefix} not working"
connect(O) Service Entry(O)
[code]
Connect(X) Service Entry(X)
[code]

[2020-11-09 08:04] aattuluri commented on #150
@maieve what version of admiral are you using, we use the service name `http-service-mesh` and it seems to be working for us. What admiral version are you using?

[2020-11-09 08:37] maieve commented on #150
[code]

[2020-11-23 21:08] #9 closed

[2020-11-23 21:16] benchi commented on #98
We would like to see some more interest from other folks before prioritizing.

[2020-11-23 21:25] benchi commented on #127
Look into solving this with the EW Gateway type.

[2020-11-23 21:38] benchi commented on #85
@aattuluri would you please think through the design for how to achieve this?

[2020-12-11 16:29] josephpeacock opened #159 "[Documentation] Improve initial example documentation to not require rollouts"
Currently, the single cluster example uses rollouts. We should either a) explicitly have the user install Argo rollouts as part of the steps or b) have the initial example only rely on k8s and Istio native types.

[2021-01-03 10:11] yaron-idan opened #161 "Following global traffic policy example results in unresolved dns records [BUG]"
**Describe the bug**
Not sure if this is a bug actually. I'm trying to follow the example described [here](https://github.com/istio-ecosystem/admiral/blob/master/docs/Architecture.md#global-traffic-policy) but after creating the GlobalTrafficPolicy pods can't resolve to either `west.greeting.global` or `east.greeting.global`.
This makes sense because I haven't created anything to instruct these re

[2021-01-12 12:06] PavelKarpenka opened #163 "[BUG] Http Demo for Remote cluster doesn't work due to missing annotation"
Hello!
When I'm reproducing Multicluster setup from [here](https://github.com/istio-ecosystem/admiral/blob/master/docs/Examples.md), Admiral creates `default.greeting.global-se` ServiceEntry for remote cluster instead of `stage.greeting.global-se`.
So `admiral-sync` namespace contents in Cluster 1 look like:
[code]

And because of that, ServiceEntry for `greeting` service in Cluster 1 doesn't have

[2021-01-12 15:53] aattuluri commented on #163
@PavelKarpenka Thanks for reporting it, I will be fixing it as part of my current PR https://github.com/istio-ecosystem/admiral/pull/162

[2021-01-12 15:54] aattuluri commented on #161
@yaron-idan This is a feature gap and being worked on https://github.com/istio-ecosystem/admiral/pull/162. Should be available later this week.

[2021-01-13 21:37] yaron-idan commented on #161
Thanks @aattuluri , those are great news!

[2021-01-19 23:31] #161 closed

[2021-01-19 23:31] #163 closed

[2021-01-21 00:11] aattuluri opened #164 "[BUG] k8s service's Target port and Port being different causes wrong port to be picked up"
**Describe the bug**
If a k8s service's target port is different from the port field then the right port is not picked up

**Steps To Reproduce**
Having the following objects will help reproduce the error:

k8s service:
[code]

k8s Deployment:
[code]

The above configuration doesn't result in a port match causing invalid service entry to be generated.

**Expected behavior**
A clear and concise des

[2021-01-21 19:18] aattuluri commented on #164
Fixed with https://github.com/istio-ecosystem/admiral/pull/165

[2021-01-21 19:18] #164 closed

[2021-01-25 23:40] wenxian opened #166 "The deletion of Deployment won't delete the ServiceEntry created"
I have a deployment
[code]
Then the ` default.greeting-sample-showgtp.global-se` will be created. However, after the deletion of deployment, ` default.greeting-sample-showgtp.global-se` is still there

[2021-01-25 23:44] aattuluri commented on #166
@wenxian This has been fixed in the latest (master) but not yet released, what version of admiral are you using?

[2021-01-26 01:00] wenxian commented on #166
Running on Admiral 1.1

[2021-01-26 01:08] aattuluri commented on #166
Try the `latest` tag of admiral

[2021-01-26 04:01] wenxian commented on #166
Here is my experiment: deploy greeting service in both east and west. `default.greeting-sample-showgtp.global-se` has two endpoints in both east and west. After the deletion of greeting in east, i see west has the endpoint deleted, but east is still the same

East:
[code]
West
[code]
East:
[code]
West
[code]

[2021-02-01 08:17] manmaujin2 opened #167 "[BUG] Multi cluster case's sample load balanced not work with greeting sample apps"
When I try to test the multiple cluster sample as below document and found that the remote cluster greeting app application does not have "admiral.io/env: stage" annotation so the service entry stage.greeting.global-se doesn't have Cluster 2's istio-ingressgateway address. After I added back the annotation in remote cluster greeting app then the service entry i.e.  stage.greeting.global-se success

[2021-02-02 02:52] manmaujin2 opened #168 "[BUG] Admiral Pod suddenly CrashLoopBackOff with "invalid memory address or nil pointer dereference""
**Describe the bug**

After setup the below sample and then few days after the Admiral pod become CrashLoopBackOff and below is the admiral log.

https://github.com/istio-ecosystem/admiral/blob/master/docs/Examples.md#multicluster

[code]

**Steps To Reproduce**
Nothing to do and suddenly the pod is crash. We are using 1.17.13 and istio 1.5.8 version

**Expected behavior**
The Admiral pod should b

[2021-02-11 04:45] manmaujin2 commented on #167
Found the issue. Check admiral-install-v1.1 version's sample yaml doesn't have the annotations. After append the annotations the load balancing problem is fixed

apiVersion: admiral.io/v1alpha1
kind: GlobalTrafficPolicy
metadata:
  name: gtp-service1
  namespace: sample
  **annotations:
    admiral.io/env: stage**
  labels:
    identity: greeting
spec:
  policy:
    - dns: stage.greeting.global

[2021-02-11 04:45] #167 closed

[2021-02-11 16:51] josephpeacock commented on #167
@manmaujin2 Sorry for the delayed response, and glad you figured it out on your own! The sample was fixed in https://github.com/istio-ecosystem/admiral/pull/162 and release 1.2 will be packaged with remote yaml files that include the required annotations.

[2021-02-18 05:33] anmolagrawal23 opened #169 "[FEATURE] Admiral support for Istio 1.8 and higher"
We are planning to use admiral with istio 1.9 but it is supported till maximum Istio 1.7.4 as per the [compatibility document](https://github.com/istio-ecosystem/admiral/blob/master/docs/Compatibility.md).

Istio has deprecated support for .global stub domain, refer [this](https://istio.io/latest/news/releases/1.8.x/announcing-1.8/upgrade-notes/#multicluster-global-stub-domain-deprecation) for mor

[2021-02-18 16:53] josephpeacock commented on #169
@anmolagrawal23 We definitely still need to test Admiral with istio 1.8. However, the `.global` stubdomain deprecation shouldn't have any impact on how Admiral functions. That is because Admiral doesn't rely on the built-in Istio `.global` DNS resolution. Rather, it creates serviceentries with the pattern `<env>.<identifier>.<global>`. Because these DNS names are created via serviceentries, they s

[2021-06-01 21:43] aattuluri commented on #58
Closed with https://github.com/istio-ecosystem/admiral/pull/177

[2021-06-01 21:43] #58 closed

[2021-10-28 09:30] romanlehner opened #181 "[Request] *.global hostname docs outdated"
Hello,

referring to this link here: https://github.com/istio-ecosystem/admiral/blob/dce9a017ff6ecb26423d584467736ceffc6d1044/docs/Examples.md?plain=1#L8 it directs to the istio multi cluster main page, where instructions of the DNS redirection cannot be found (or at least I couldn't find it)

Do you have any source of instructions that you can share?

Also I couldn't replicate how to configure `c

[2021-11-15 17:47] aattuluri opened #183 "[FEATURE] Support argo rollouts canary for admiral generated endpoints"
**Is your feature request related to a problem? Please describe.**
Admiral generated endpoints do not honor the [canary deployment strategy](https://argoproj.github.io/argo-rollouts/features/canary/) of [Argo rollouts](https://argoproj.github.io/argo-rollouts/)

**Describe the solution you'd like**
Implement canary deployment strategy with [host based traffic splitting](https://argoproj.github.io/

[2021-12-02 08:17] wejson opened #188 "cluster-secret.sh fail on generating illegal secret name [BUG]"
**Describe the bug**
underscore isnt allowed as k8s secret name and the following sed allows it and replace to it
[code]

**Steps To Reproduce**
running the script on any context which has _ in it

**Expected behavior**
replacing `_` with `-`
[code]

PR: https://github.com/istio-ecosystem/admiral/pull/187

[2022-01-21 19:59] #188 closed

[2022-01-21 20:04] #181 closed, assigned to nobody

[2022-01-25 15:35] aattuluri commented on #127
This should be resolved with east west gateway with istio 1.8 and above.

[2022-01-25 21:01] #144 closed

[2022-01-25 21:01] #183 closed

[2022-01-25 21:02] #169 closed

[2022-01-25 21:02] #166 closed

[2022-01-25 21:02] #159 closed

[2022-01-25 21:02] #127 closed

[2022-03-09 15:58] #168 closed

[2022-03-10 20:57] shriramsharma opened #196 "[BUG] concurrent map iteration and map write"
# Current Issue:
There are instances in the code where we iterating over a map while another go routine is simultaneously trying to write to it.

https://github.com/istio-ecosystem/admiral/blob/master/admiral/pkg/apis/admiral/routes/handlers.go#L129-L133
https://github.com/istio-ecosystem/admiral/blob/master/admiral/pkg/clusters/handler.go#L721-L724

# Proposed Fix:
The fix would be to introduce a

[2022-03-14 21:58] #196 closed

[2022-04-16 01:25] nirvanagit opened #205 "[BUG/Feature] - Consistent behavior for outlier detection for local and remote endpoints of a target service"
**Describe the bug**
Outlier detection behaves differently when target service is local to client, and when it is in a remote cluster.

### When target service is in the client cluster
Target service is accessed over `.svc` service endpoint, which is a single IP (kubernetes service IP)

### When target service is in a remote cluster
Target service is accessed over load balancer cname, which resolv

[2022-05-05 22:00] aattuluri commented on #205
Fixed with https://github.com/istio-ecosystem/admiral/pull/207

[2022-05-05 22:00] #205 closed

[2022-05-12 18:36] shriramsharma opened #216 "[Enhancement] Make admiral build/dev env work with latest Go version and dependencies"
The admiral build and dev environment works only with Go version <= 1.14. This needs to be fixed so that the latest dependencies can be used such as `code-gen`, `protoc-gen-go`, `client-go` etc.

[2022-05-13 10:56] levaitamas opened #218 "[BUG] Admiral install fails on k8s v1.22"
I was following [the install guide in Examples](https://github.com/istio-ecosystem/admiral/blob/master/docs/Examples.md#install) using Istio v1.13.3 and k8s v1.22.9 (kubectl v1.23.6).

At Step 4, the process fails due to not matching "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1":

[code]

Turns out this is the expected behavior because of the API removals in k8s v1.22: https

[2022-05-19 23:01] #104 closed

[2022-05-20 21:31] shriramsharma opened #219 "[BUG]: SidecarEgressMap.Get() throws concurrent map access error intermittently"
**Describe the bug**
SidecarEgressMap.Get() throws concurrent map access error intermittently.
The map access inside the func is not thread-safe.
https://github.com/istio-ecosystem/admiral/blob/72d5ec46a610b4c94ca78d5148507cb1387ceb4a/admiral/pkg/controller/common/types.go#L179

**Steps To Reproduce**
This error is pretty intermittent. I wrote a test to reproduce this error.
[code]
Error:
[code]

[2022-05-20 22:17] shriramsharma opened #221 "[FEATURE]: Need GlobalTrafficPolicy config to applied when the event occurs"
**Is your feature request related to a problem? Please describe.**
Currently, whenever GTP config is created/updated in service namespace, admiral's local cache gets updated and based on the observations made during manual testing, updates to Istio's destination rule will happen during the sync cycle.
Currently, sync is executed every 10mins, so in worst cases, it will take 10 mins for GTP config

[2022-05-27 16:10] #219 closed

[2022-06-04 23:24] nirvanagit opened #224 "[BUG] fatal error: concurrent map iteration and map write when accesing remoteRegistry.RemoteControllers"
**Describe the bug**
The [remoteRegistry.RemoteControllers map](https://github.com/istio-ecosystem/admiral/blob/7ab4d47fe9370e6cb70a59165f72947f10b47e58/admiral/pkg/clusters/types.go#L55) is accessed concurrently by more than one go routine on [line 81 in serviceentry.go](https://github.com/istio-ecosystem/admiral/blob/7ab4d47fe9370e6cb70a59165f72947f10b47e58/admiral/pkg/clusters/serviceentry.go#L

[2022-06-13 18:19] #221 closed

[2022-06-13 18:21] shriramsharma commented on #224
This PR should fix this issue https://github.com/istio-ecosystem/admiral/pull/225

[2022-06-15 16:53] aattuluri opened #228 "[BUG] Issues with multi-cluster set up"
**Describe the bug**
The multi-cluster set up docs aren't clear and there are at least a couple of issues when users tried the set up

[2022-06-24 14:06] shriramsharma opened #234 "[BUG]: Deleting a GTP would result in deleting the only endpoint of a service"
**Describe the bug**
With this PR https://github.com/istio-ecosystem/admiral/pull/223 we have an issue where a delete GTP event could cause the only service entry endpoint to be deleted since we're passing down the same admiral event down to the `modifyServiceEntryForNewServiceOrPod` func.

[2022-06-24 14:17] shriramsharma opened #236 "[FEATURE]: come up with a better way to prevent deleting the default endpoint of a service when a GTP is deleted"
**Is your feature request related to a problem? Please describe.**
This bug fix https://github.com/istio-ecosystem/admiral/pull/235 was added as a stop-gap approach to a bug that would inadvertently delete the only endpoint for a service in case a GTP is deleted.

The stop-gap approach currently fixes this problem by modifying the event type to `Update` but this would lead to many orphan endpoints

[2022-06-24 16:30] #234 closed

[2022-06-24 17:31] aattuluri opened #237 "[FEATURE] k8s Service events should trigger SE updates"
**Is your feature request related to a problem? Please describe.**
k8s Service events should trigger SE updates

**Describe the solution you'd like**
Every k8s service event (add, update & delete) should trigger the SE generation/update to avoid using stale services.

[2022-07-13 23:58] aattuluri opened #244 "[FEATURE] Fail readiness probe until the caches are refreshed during boot up"
**Is your feature request related to a problem? Please describe.**
Currently, admiral syncs all the k8s resources using controllers for different clusters. This takes time depending on the size of the clusters etc. During this time no updates are made to the resources. As a result there is a time window when a subsequent admiral version is deployed when no updates are made to the endpoints if reso

[2022-07-13 23:59] aattuluri commented on #237
Fixed with https://github.com/istio-ecosystem/admiral/pull/238

[2022-07-13 23:59] #237 closed

[2022-07-21 13:46] alexdotsh commented on #228
Hi, is there any update on this to support k8s v1.22?

[2022-08-17 22:53] #216 closed

[2022-09-19 10:26] msvechla commented on #85
Any update on this? We are looking for this feature as well

[2022-09-26 15:22] aattuluri commented on #85
@msvechla Thanks for the bumping this up, interested in contributions upon guidance?

[2022-09-27 13:37] zanghao2 opened #263 "[BUG]admiral can not access to remote cluster"
**Describe the bug**
I deployment admiral and istio as the example, but when I access stage.greeting.global, I can only access to local cluster.

**Steps To Reproduce**
1.create cluster with kind and label cluster1 node with us-west-2, cluster2 node with us-east-2.
2.depoy istio mutli-primary and enable dns.
3. deploy admiral
4. access stage.greeting.blobal through webapp pod.
**Expected behavior*

[2022-10-05 21:13] #218 closed

[2022-10-20 23:17] anusha-ragunathan opened #264 "[FEATURE] Support Kubernetes 1.25"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Use the `install_istio.sh` script on a Kubernetes 1.25 and notice that HPA and PDB APIs that are in use are being deprecated in Kubernetes 1.25.

[code]

**Describe the solution you'd like**
Add support for Kubernetes 1.25